[Desktop Entry]
Categories=Network;Web;Internet;
Comment=Wireguard client
Exec=/opt/wireguard-gui-python/run.sh
Icon=/opt/wireguard-gui-python/resources/icons/wireguard-icon.png
Name=wgp
Path=/opt/wireguard-gui-python/
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
